@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.container {
  width: 300px;
  height: 300px;
  border: .5px solid #aaa;
  border-radius: 2%;
  box-shadow: 1px 1px 5px #aaa;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

h1 {
  font-size: 1.5em;
  padding: 0 10px;
  margin-top: 60px;
}

h2 {
  margin-bottom: 30px;
}

.after {
  color: #4285F4;
}

a {
  font-size: 1.5em;
  color: #4285F4;
}

p svg {
  padding-left: 5px;
  color: #4285F4;
}

p {
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 25px;
  width: 100%;
}